@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html{
     font-size: 62.5%;
}
main{
     height: 100vh;
     background-color:hsl(47, 88%, 63%) ;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: "Figtree", serif;
}
.container{
     background-color: hsl(0, 0%, 100%);
     width: 26%;
     padding: 2.5rem;
     border-radius: 1.5rem;
     border:0.1rem solid black;
     box-shadow: 0.9rem 0.9rem;
     -webkit-border-radius: 1.5rem;
     -moz-border-radius: 1.5rem;
     -ms-border-radius: 1.5rem;
     -o-border-radius: 1.5rem;
}
.blog-image{
     width: 100%;
     height: auto;
     margin: 0 auto;
     display: block;
     object-fit: cover;
     border-radius: 0.8rem;
     -webkit-border-radius: 0.8rem;
     -moz-border-radius: 0.8rem;
     -ms-border-radius: 0.8rem;
     -o-border-radius: 0.8rem;
}

.chip{
     display: inline-block;
     font-size: 1.5rem;
     font-weight:bold;
     background-color: hsl(47, 88%, 63%);
     margin:2rem 0 1.2rem 0;
     padding: 0.5rem 0.9rem;
     border-radius: 0.3rem;
     -webkit-border-radius: 0.3rem;
     -moz-border-radius: 0.3rem;
     -ms-border-radius: 0.3rem;
     -o-border-radius: 0.3rem;
}

.sub-title{
     font-size: 1.5rem;
     font-weight: 500;
}

.title{
     padding: 1.4rem 0 1.6rem 0;
     font-size: 2.4rem;
     font-weight: 800;
}
.dec{
     font-size: 1.5rem;
     line-height: 1.5;
     color: hsl(0, 0%,42%);

}
.profile{
     display: flex;
     gap:1.5rem;
     align-items: center;
     padding-top:2rem;

}
.profile-logo{
     width:3.6rem;
     height: auto;
}
.profile-name{
     color:  hsl(0, 0%, 7%);
     font-weight: 900;
     font-size: 1.4rem;
}

/* media query */
@media (width <= 600px) {
     .container{
          width: 86%;
     }
}